.container-dash {
  width: 100%;
  height: auto;
  display: flex;
}

.container-dash .sidebar {
  background: var(--bg-color-two);
  width: 25rem;
  height: 100vh;
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-user h2 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.scroll-table {
  min-height: 20rem;
  max-height: 40rem;
  overflow-y: scroll;
  background: rgb(235, 234, 234);
  padding: 1rem;
}

.scroll-table::-webkit-scrollbar {
  overflow-y: scroll;
}

.content-user .details-user {
  margin-bottom: 1rem;
}

.content-user .details-user h1 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color-one);
}
.content-user .details-user p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color-two);
}

.container-dash .sidebar button {
  width: 100%;
  padding: 1rem;
  border: 0;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: ease all 0.3s;
}
.container-dash .sidebar button:hover {
  filter: brightness(0.9);
}

.content-map {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .container-dash {
    flex-direction: column;
  }
  .container-dash .sidebar {
    padding: 0;
    padding-top: 1rem;
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
  }

  .content-user h2 {
    text-align: center;
  }

  .scroll-table {
    max-height: 18rem;
    width: 23rem;
    overflow-y: scroll;
    background: rgb(235, 234, 234);
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .container-dash .sidebar button {
    width: 50%;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .content-map {
    background: var(--bg-color-two);
    padding: 1rem;
    height: 24.2rem;
  }
}
