.container-login {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.btn-register p {
  font-weight: 300;
  color: var(--text-color-two);
}

.btn-register-click {
  cursor: pointer;
  transition: ease all 0.3s;
  font-weight: 800;
}

.btn-register-click:hover {
  color: var(--primary-color);
}

.content-img {
  background: var(--bg-color-two);
  width: 45%;
  height: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-img img {
  width: 30rem;
}

.content-col-form {
  background: var(--bg-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 35rem;
  width: 25rem;
}

#login .header-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15rem;
  line-height: 1rem;
}

#login .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#login .form .content-form {
  width: 100%;
  height: 10rem;
}

#login .form .field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#login .form .field label {
  color: #b2b2b2;
}

#login .form .field input {
  margin-bottom: 1rem;
  padding: 0.8rem 0;
  border: 0;
  border-bottom: 1px solid #b2b2b2;
}

.form .actions {
  width: 100%;
}
.form .actions button {
  width: 100%;
  padding: 1rem;
  border: 0;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: ease all 0.3s;
}

.form .actions button:hover {
  filter: brightness(0.9);
}

@media screen and (max-width: 760px) {
  .container-login {
    flex-direction: column;
  }
  .content-img {
    width: 100%;
    height: 20rem;
    background: transparent;
  }
  .content-img img {
    width: 10rem;
  }

  .content-col-form {
    margin: 0;
    padding: 0;
  }
  #login {
    padding: 1rem;
  }
}
