@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  outline: none !important;
}

:root {
  --bg-color: #f9f9f9;
  --bg-color-two: #e0dcea;
  --primary-color: #5d9dff;

  --text-color-one: #222;
  --text-color-two: #555;

  --bg-input: '#ccc';
}
body {
  background-color: var(--bg-color);
}
